---
import Layout from '../layouts/Layout.astro';
import NewsGrid from '../components/news/NewsGrid.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('news.title')} lang={lang} showSidebar={true}>
  <div class="py-6 sm:py-8">
    <NewsGrid lang={lang} />
  </div>
</Layout>
